/* *********** CSS for Home page *********** */

.banner_container {
  margin: 40px 0;
}
.banner_image {
  width: 100%;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category_items {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
}

.sale_item {
  margin: 0 10px 0 10px;
  width: 250px;
}
